ul li {
  width: 200px;
  height: 80px;
  background-color: white;
  border: solid black 5px;
  margin-top: 50px;
  text-align: center;
  display: inline-block;
  padding-top: 45px;
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
  font-size: 150px;
  margin-top: -10px;
}

body {
background-image: url("pic1.jpeg");
}


.click {
 font-size: 50px;
 font-family: sans-serif;
 background-color: black;
 color: white;
 width: 250px;

}
